body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: grid;
  place-items: center;
  height: 100vh;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mgame-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.game-layout {
  display: grid;
  grid-template-rows: auto 1fr;
}

/*Game Board*/
table {
  max-width: 420px;
  max-height: 420px;
  width: 85vw; /* 85% of the viewport (body) width */
  height: 85vw;
  border-collapse: separate;
  border-spacing: 4px 4px; /* Space between cells */
}
td {
  padding: 0;
  width: 33%; /* Every cell should be 1/3 of table height (and width) */
  height: 33%;
}
.cell {
  font-size: 3.4em;
  font-size: 16vmin; /* Responsive font size! Awesome! */
  height: 100%; /* Fill the container (td) */
  width: 100%;
}

.wincell {
  background-color: #c88; /* Red background to highlight the "winning" line */
}

button {
  cursor: pointer; /* Visually show that you can interact with the button */
  border: none; /* Hides default border (and color, for some reason */
}

/*helpers*/
.center-absolute {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.center-board {
  margin: 0 auto;
}

.flex-auto {
  flex: auto;
}

.trim {
  height: auto;
}
